.contact-from-container{
  /* margin-top: -600px; */
  margin-left: 10%;
  width: 80%;
  /* background-color: red; */
  z-index: 2;
}
.contact-form-bg {
  z-index: -1;
}
.container {
  margin-top: 2rem;
}
