.container {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.list {
  width: fit-content;
}
.basicInfo{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.list li{
  list-style-type: none;
  /* background-color: blue; */
 }

