<section class="container shadow-lg p-3 mb-5 bg-white rounded border border-primary container-intro">
  <div class="item">
    <h1>About</h1>
    <p>Hello! I am Ismail Ahmadi, Web and Software developer, Front-end Developer.</p>
    <p>Web&SoftDev is a simple Angular based web application, the technolgies used in this single page application are Boostrap 4, FontAwesome. The purpose of this portfolio is to show the skills and experience of my web development </p>
  </div>
  <div class="item ">
    <h1>Basic Information</h1>
    <div class="basicInfo">
      <ul class="list font-weight-bold">
        <li>Age:</li>
        <li>Email:</li>
        <li>Phone:</li>
        <li>Address:</li>
        <li>Languages:</li>
      </ul>
      <ul class="list">
        <li>30</li>
        <li>ismail7ahmadi@gmail.com</li>
        <li>+1 365 476 2022</li>
        <li>ON, Canada</li>
        <li>English, Persian, and Indoensian </li>
      </ul>
    </div>

  </div>
</section>
