.title {
  text-align: center;
  /* background-color: var(--bs-blue); */
}
.card-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 1rem 1rem;
}
.card-left{
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  text-align: center;
  border: 1px solid var(--color-primary) ;
  border-radius: 0.5rem 0 0 0.5rem;
}

.card-right{
  border: 1px solid var(--color-primary) ;
  border-radius: 0 0.4rem 0.4rem 0;
}
p, .card-item h1, h2 {
  padding: 1rem 1rem 0 1rem ;
}
.card-item h1, .card-item h2{
  font-size: 1.6rem;
}
/* ============== Media Query=============== */
@media screen and (max-width:1024px){
  .card-item{
    grid-template-columns: 1fr;
    /* background-color: blue; */

  }
  .card-left{
    border-radius: 0.5rem 0.5rem 0 0;

  }
  .card-left h2{
    padding: 0 0 0.5rem 0;
    /* color:red; */
  }
  .card-right{
    border-radius: 0 0 0.4rem 0.4rem;
  }
}
@media screen and (max-width:600px){
  .card-item{
    grid-template-columns: 1fr;
    /* background-color: red; */
  }

}
