<div class="title">
  <h1>Education </h1>
</div>
<section class="container shadow-lg p-3 mb-5 bg-white rounded border border-primary">
  <div class="card-item ">
    <div class="card-left ">
      <p>2019 - 2022</p>
      <h2>Associate Degree</h2>
    </div>
    <div class="card-right">
      <h1>Associate Degree of Honors of Arts</h1>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
  </div>
  <div class="card-item ">
    <div class="card-left ">
      <p>2019 - 2022</p>
      <h2>Associate Degree</h2>
    </div>
    <div class="card-right">
      <h1>Associate Degree of Honors of Arts</h1>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
  </div>
  <div class="card-item ">
    <div class="card-left ">
      <p>2019 - 2022</p>
      <h2>Associate Degree</h2>
    </div>
    <div class="card-right">
      <h1>Associate Degree of Honors of Arts</h1>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
  </div>


</section>

