<div class="title">
  <h1>References </h1>
</div>

<section class="container shadow-lg p-3 mb-5 bg-white rounded border border-primary">
  <div class="card-item ">
    <div class="card-left ">
      <img src="./../../../assets/me.jpg" class="img_ref" alt="">
      <h2>Alexander</h2>
      <p>CEO</p>
    </div>
    <div class="card-right">

      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
  </div>
  <div class="card-item ">
    <div class="card-left ">
      <img src="./../../../assets/me.jpg" class="img_ref" alt="">
      <h2>Alexander</h2>
      <p>CEO</p>
    </div>
    <div class="card-right">

      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
    </div>
  </div>

</section>
