section {
  height: auto;
  margin: 3rem 0 2rem 0;
  /* background-color: blue; */
}
.items{
  width: 25rem;
  height: 4rem;
  margin: 0 auto;
  /* background-color: red; */
  transform:translate(5%,5%);
}
li{
  display: inline-block;
  text-decoration: none;
}
li a{
  /* padding: 0.8rem 0.8rem;
  border-radius: 50%;
  margin: 0 0.5rem; */
  padding: 0.6rem 0.6rem;
  color:#D2D2D2;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  border-radius:0.5rem;
  text-align:center;
  text-decoration:none;
  position: relative;
  display: inline-block;
  margin:5px 5px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}
li a:hover {
  /* background-color: #a4b9c9;
  transform: scale(0.9); */
  background: #D2D2D2;
  border-color:#0C6EFD ;

}
a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#D2D2D2;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

a span:before {
  content:'';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #D2D2D2;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

img {
  width: 1.4rem;
  height: auto;
  color: white;
}
