<section>
  <ul class="items">
    <li> <a href="#" class="btn "><img src="./../../../assets/svg/facebook.svg"><span>FaceBook</span></a></li>
    <li> <a href="#" class="btn btn-outline-primary"><img src="./../../../assets/svg/gmail.svg"><span>Gmail</span></a></li>
    <li> <a href="#" class="btn btn-outline-primary"><img src="./../../../assets/svg/twitter.svg"><span>Twitter</span></a></li>
    <li> <a href="#" class="btn btn-outline-primary"><img src="./../../../assets/svg/instagram.svg"><span>Instagram</span></a></li>
  </ul>
</section>
