/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./app/app.component.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-gradient: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);

  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-green: rgba(55, 249, 61, 0.3);
  --color-dark: rgba(0, 0, 0, 0.3);

  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  --color-gray-100: #DCDCDC	;
  --color-gray-200: #D3D3D3		;
  --color-gray-300: #C0C0C0	;
  --color-gray-400: #A9A9A9	;
  --color-gray-500: #808080	;
  --color-gray-600: #696969	;


  --transition: all 400ms ease;

  --font-family: sans-serif;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --_hue: 245;
  --_size: 1.8rem;
  --_radius: 0.2em;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

}
html {
  scroll-behavior: smooth;
  height: 100%;
}
::-webkit-scrollbar{
  display: none;
}
body {
  font-family: var(--font-family);
  background: hsl(var(--bg));
  color: hsl(var(--txt));
  line-height: 1.7;
}

/* ================ General Style ===========*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.4rem;
}
p, li {
  font-weight: 400;
  font-size: 0.9rem;
  /* color: red; */
}
section {
  margin-top: 8rem;;
}
img {
  filter: grayscale(0%);
  transition: var(--transition);
}
img:hover {
  filter: grayscale(50%);
}
a {
  color: var(--primary);
  transition: var(--transition);
}
a:hover {
  color: var(--txt);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary);
  padding: 0.6rem 1.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* border: 1px solid var(--primary); */
  transition: var(--transition);
}
.btn-outline-primary{
  border: 1px solid var(--color-primary) ;
  /* color: red; */
}
.btn-outline-primary:hover{
  /* border: 1px solid var(--primary); */
  /* color: blue; */
  background-color: var(--color-primary);
}
.btn:hover {
  background-color: var(--color-gray-200);
  color: var(--color-bg);

  border-color: transparent;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.center {
  text-align: center;
}
.color {
  /* color: var(--color-primary); */
  color: hsl(var(--primary2));
}

/* ============== Media Query (Medium Devices)=============== */
@media screen and (max-width:1024px){
  .container {
      width: var(--container-width-md);
  }
  section {
      margin-top: 6rem;
  }
}
/* ============== Media Query (Small Devices)=============== */
@media screen and (max-width:600px){
  .container {
      width: var(--container-width-sm);
  }
}
