<div class="title">
  <h1>Work Experience</h1>
</div>
<section class="container shadow-lg p-3 mb-5 bg-white rounded border">
  <div class="card-item ">
    <div class="card-left ">
      <p>May 2020 - Oct 2020</p>
      <h2>TADZ Venture PTE LTD</h2>
    </div>
    <div class="card-right">
      <h1>Junior Full Stack Developer</h1>
      <p>TADZ Venture PTE LTD, a Singapore based Information Technology Consultancy, utilises cloud-based Enterprise Resource Planning (ERP) for Accounting, Payroll, Asset Management, CRM, Purchasing, Project Management, and Website. • Wrote clean, robust, and scalable code in Python, JavaScript, jQuery, SQL, HTML, CSS, JSON, MaraiaDB on cloud-based ERP development.
        • Maintained and improved the performance of the ERP software
        • Implemented new feature requests and participated in product discovery
        • Performed ERPNext configuration and customisation.</p>
    </div>
  </div>
  <div class="card-item">
    <div class="card-left">
      <p>Mar 2019 - Agu 2019</p>
      <h2>YICF </h2>
    </div>
    <div class="card-right">
      <h1>Project Coordinator </h1>
      <p>YICF, a Jakarta-based social non-profit foundation, implemented a vocational training project for refugees in Technology sector.
        • Created a new vocational project called "Code The Web" from scratch with a team of project advisors and teaching assistants.
        • Coordinated and communicated project schedules, resources, equipment, and information to the team.
        • Ensured that the requirements are met, documented, and maintained.</p>
    </div>
  </div>
  <div class="card-item">
    <div class="card-left">
      <p>March 2018- Mar 2019</p>
      <h2>GGIJ</h2>
    </div>
    <div class="card-right">
      <h1>Front End Developer</h1>
      <p>• Designed, developed and maintained high-performance, user-friendly web application with customised headless CMS using JavaScript, NodeJS, HTML, CSS, Restful API, and Figma.
        • Collaborated with cross-functional teams to understand and translate project requirements into technical solutions.</p>
    </div>
  </div>


  <div class="card-item">
    <div class="card-left">
      <p>Jan 2016 - Feb 2018</p>
      <h2>Freelancer</h2>
    </div>
    <div class="card-right">
      <h1>Freelancer Web Developer & IT Support Specialist</h1>
      <p>• Provided IT support, web design and development solution to small and medium size companies.
        • provided ongoing support and maintenance to ensure that the clients' websites continue to perform at their best</p>
    </div>
  </div>

  <div class="card-item">
    <div class="card-left">
      <p>Oct 2013- Jan 2017</p>
      <h2>Web Developer</h2>
    </div>
    <div class="card-right">
      <h1>Front End Developer</h1>
      <p>• Designed, developed, and maintained a responsive website.
        • Ensured a cohesive experience across different browsers and devices.
        • Helped identify and solve web application issues experienced by customers.
        • Provided ongoing review, maintenance, and update.
        • Detected bugs or errors within code and apply fixes.</p>
    </div>
  </div>

  <div class="card-item">
    <div class="card-left">
      <p>Jul 2012 - Jun 2013</p>
      <h2>GIZ </h2>
    </div>
    <div class="card-right">
      <h1>Web Designer & Developer</h1>
      <p>• Provided web design and development using technologies such as HTML, CSS, and JavaScript,.
        • Assisted and taught practical techniques in Adobe Photoshop and its applications in designing.</p>
    </div>
  </div>

</section>
